<%- include("partials/header_client.ejs") %>
<%- include("partials/sidebar_home.ejs") %>

<main role="main" class="col-md-10 ms-md-auto px-4 bg-contentBackground text-black-75">
    <div class="row">
        <h1>Top Hits</h1>
        <% songs.sort(function(a, b){return b.popularity/(new Date(Date.now()) - new Date(b.releaseDate)) - a.popularity/(new Date(Date.now()) - new Date(a.releaseDate))}) %>
        <% var amount = songs.length > 4 ? 4 : songs.length %>
        <% for(let i = 0; i < amount; i++){ %>
            <div class="col-xxl-3 col-xl-4 col-md-6 col">
                <div class="item item-sub my-2">
                    <a href="/songs/<%= songs[i].songName %>">
                        <img src="<%= songs[i].songImage %>" width="200px" height="200px" />
                        <h3 class="ellipsis"><%= songs[i].songName %></h3>
                    </a>
                    <a href="/artists/<%= songs[i].artistName %>">
                        <h4 class="ellipsis"><%= songs[i].artistName %></h4>
                    </a>
                </div>
            </div>
        <% } %>
    </div>
    <div class="row">
        <h1>New Release</h1>
        <% songs.sort(function(a, b){return b.releaseDate - a.releaseDate}) %>
        <% for(let i = 0; i < amount; i++){ %>
            <div class="col-xxl-3 col-xl-4 col-md-6 col">
                <div class="item item-sub my-2">
                    <a href="/songs/<%= songs[i].songName %>">
                        <img src="<%= songs[i].songImage %>" width="200px" height="200px" />
                        <h3 class="ellipsis"><%= songs[i].songName %></h3>
                    </a>
                    <a href="/artists/<%= songs[i].artistName %>">
                        <h4 class="ellipsis"><%= songs[i].artistName %></h4>
                    </a>
                </div>
            </div>
        <% } %>
    </div>
    <div class="row">
        <h1>Songs Through Time</h1>
        <% songs.sort(function(a, b){return a.releaseDate - b.releaseDate}) %>
        <% for(let i = 0; i < amount; i++){ %>
            <div class="col-xxl-3 col-xl-4 col-md-6 col">
                <div class="item item-sub my-2">
                    <a href="/songs/<%= songs[i].songName %>">
                        <img src="<%= songs[i].songImage %>" width="200px" height="200px" />
                        <h3 class="ellipsis"><%= songs[i].songName %></h3>
                    </a>
                    <a href="/artists/<%= songs[i].artistName %>">
                        <h4 class="ellipsis"><%= songs[i].artistName %></h4>
                    </a>
                </div>
            </div>
        <% } %>
    </div>
</main>

<%- include("partials/footer.ejs") %>