<% if(currentUser && currentUser.rank === "admin") { %>
    <%- include("../partials/header_admin.ejs") %>

    <main role="main" class="col-md-12 px-4 bg-contentBackground text-black-75">
<% } else { %>
    <%- include("../partials/header_client.ejs") %>
    <%- include("../partials/sidebar.ejs") %>
    
    <main role="main" class="col-md-10 ms-sm-auto px-4 bg-contentBackground text-black-75">
<% } %>

    <div class="row align-items-center justify-content-evenly my-3">
        <div class="col-md-2 col-sm-4">
            <a href="<%= song.songImage %>" target="_blank">
                <img class="obj-fit-sDown" src="<%= song.songImage %>" width="100%" height="200px"/>
            </a>
        </div>
        <div class="col-lg-8 col-md-6 col-sm-8">
            <h1 class="ellipsis"><%= song.songName %></h1></a>
            <a href="/artists/<%= song.artistName %>"><h3 class="ellipsis"><%= song.artistName %></h3></a>
            <audio controls><source src="<%= song.songFile %>" type="audio/mpeg"></audio>
        </div>
        <% if(!currentUser){ %>
        <div class="col-lg-1 col-md-2 col-sm-3 col-6">
            <img title="Please sign in to favorite this song" src="/resources/images/favoriteIcon_not-favorite.png" width="100%" height="100%">
        </div>
        <div class="col-lg-1 col-md-2 col-sm-3 col-6">
            <img title="Please sign in and buy our premium package to download the song" src="/resources/images/download.png" width="80%" height="80%">
        </div>
        <% } else { %>
            <div class="col-lg-1 col-md-2 col-sm-3 col-6">
                <% if(currentUser.rank !== "admin"){ %>
                    <% if(!currentUser.favSongs.includes(song._id)){ %>
                        <form action="/songs/favorite/<%= song._id %>?_method=PUT" method="POST">
                            <input type="image" title="Favorite" src="/resources/images/favoriteIcon_not-favorite.png" width="100%" height="100%"/>
                        </form>
                    <% } else { %>
                        <form action="/songs/unfavorite/<%= song._id %>?_method=PUT" method="POST">
                            <input type="image" title="Unfavorite" src="/resources/images/favoriteIcon_favorite.png" width="100%" height="100%"/>
                        </form>
                    <% } %>
                <% } else { %>
                    <a href="/songs/<%= song.songName %>/edit"><img title="Edit this song" src="/resources/images/edit.png" width="100%" height="100%"/></a>
                <% }%>
            </div>
            <div class="col-lg-1 col-md-2 col-sm-3 col-6">
            <% if(currentUser.rank === "user"){ %>
                <img title="Please buy our premium package to download this song" src="/resources/images/download.png" width="80%" height="80%">
            <% } else { %>
                <a href="<%= song.songFile %>" download="<%= song.artistName %> - <%= song.songName %>">
                    <img title="Download song" src="/resources/images/download.png" width="80%" height="80%"/>
                </a>
            <% } %>
            </div>
        <% } %>
    </div>
    <div class="row align-items-center">
        <div class="row">
            <h1>Song's lyric</h1>
        </div>
        <div class="row ms-3">
            <% let lyrics = song.songLyric.split("\r\n") %>
            <p>
                <% lyrics.forEach(function(line){ %>
                    <%= line %><br>
                <% }) %>
            </p>          
        </div>
    </div>
</main>

<%- include("../partials/footer.ejs") %>