<% if(currentUser && currentUser.rank === "admin") { %>
    <%- include("../partials/header_admin.ejs") %>

    <main role="main" class="col-md-12 px-4 bg-contentBackground text-black-75">
<% } else { %>
    <%- include("../partials/header_client.ejs") %>
    <%- include("../partials/sidebar.ejs") %>
    
    <main role="main" class="col-md-10 ms-sm-auto px-4 bg-contentBackground text-black-75">
<% } %>


    <div class="row align-items-center justify-content-evenly my-3">
        <div class="col-md-2 col-sm-4">
            <a href="<%= user.image %>" target="_blank">
                <img class="obj-fit-sDown" src="<%= user.image %>" width="100%" height="220px"/>
            </a>
        </div>
        <div class="col-md-6 col-sm-8">
            <h1 class="d-inline"><%= user.username %></h1><br>
            <h5 class="d-inline">Rank: </h5><h3 class="d-inline"><%= user.rank %></h3><br>
            <h5 class="d-inline">Email: </h5><h3 class="d-inline ellipsis"><%= user.email %></h3>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-3 col-6">
            <% if(currentUser._id.equals(user._id)){ %>
                <a href="/users/<%= user._id %>/edit"><img class="edit" src="/resources/images/edit.png"  width="75px" height="75px"/></a>
            <% } %>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-3 col-6">
            <% if(currentUser._id.equals(user._id) || currentUser.rank === "admin"){ %>
                <form onsubmit="return confirm('Are you sure you want to delete?');" action = "/users/<%= user._id %>?_method=DELETE" method="POST">
                    <input type="image" title="Delete account" src="/resources/images/delete.png" width="75px" height="75px"/>
                </form>
            <% } %>
        </div>
    </div>
    <div class="row">
        <h3>Favorite songs</h3>
        <% if(user.favSongs.length !== 0){ %>
            <% for(let songId in user.favSongs){ %>
                <% if(songId < 4){ %>
                    <div class="col-xxl-3 col-xl-4 col-md-6 col">
                        <div class="item item-sub my-2">
                            <a href="/songs/<%= user.favSongs[songId].songName %>">
                                <img src="<%= user.favSongs[songId].songImage %>" width="200px" height="200px" />
                                <h3 class="ellipsis"><%= user.favSongs[songId].songName %></h3>
                            </a>
                            <a href="/artists/<%= user.favSongs[songId].artistName %>">
                                <p class="ellipsis"><%= user.favSongs[songId].artistName %></p>
                            </a>
                        </div>
                    </div>
                <% } else { %>
                    <% break; %>
                <% } %>
            <% } %>
        <% } else { %>
            <h5 class="ms-3">No favorite songs yet. Explore the Orpheus, find song you love then Heart It!!</h5>
        <% } %>
    </div>
    <div class="row">
        <h3>Favorite artists</h3>
        <% if(user.favArtists.length !== 0){ %>
            <% for(let artistId in user.favArtists){ %>
                <% if(artistId < 4){ %>
                <div class="col-xxl-3 col-xl-4 col-md-6 col">
                    <div class="item item-sub my-2">
                        <a href="/artists/<%= user.favArtists[artistId].artistName %>">
                            <img src="<%= user.favArtists[artistId].artistImage %>" width="200px" height="200px" />
                            <h3 class="ellipsis"><%= user.favArtists[artistId].artistName %></h3>
                        </a>
                    </div>
                </div>
                <% } else { %>
                    <% break; %>
                <% } %>
            <% } %>
        <% } else { %>
            <h5 class="ms-3">No favorite artists yet. No need to worry. We have many artists, so Check It Out!!</h5>
        <% } %>
    </div>
</main>

<%- include("../partials/footer.ejs") %>